body {
    background-color: white;
    min-width: 400px;
    min-height: 324px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
    text-decoration: underline;
}

main{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    padding-left: 1rem;
    padding-right: 1rem;
}